// Basically grid base, (not the fluid grid) that get the base of the grid system started for all stylesheets

html {
  height: 100%;
  font-size: 100%;
  overflow-x:hidden;
  -ms-overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
  //-webkit-text-size-adjust: none;
} /* Force scrollbar in non-IE and Remove iOS text size adjust without disabling user zoom */

body {
  margin: 0; 
  min-height: 100%; 
  width:100%;
  font-smoothing:antialiased; 
  -webkit-font-smoothing:subpixel-antialiased;
  text-rendering:optimizeLegibility
} /* Improve default text rendering, handling of kerning pairs and ligatures */

.content_wrapper {
  width:100%;
  position:relative;
  z-index:112;
}



//NO MARGINS
$mobile_left_margin:0;
$mobile_right_margin:0;

//MARGINS
// $mobile_left_margin:1.048%; /* This worked best in browsers and landscape devices */
// $mobile_right_margin:1%;



@mixin row_mixin {
  position:relative;
  float:left;
  
  //NO MARGINS
  width: 100%;
  
  //MARGINS
  //width: 100% - $mobile_right_margin*2;
  // margin-left:$mobile_left_margin;
  // margin-right:$mobile_right_margin;
}

.row {
  @include row_mixin;
}

.stretching_row {
  clear:both;
}

.grid_1, .grid_2, .grid_3, 
.grid_4, .grid_5, .grid_6, 
.grid_7, .grid_8, .grid_9, 
.grid_10, .grid_11, .grid_12,
.mobile_grid_1, .mobile_grid_2,
.mobile_grid_3, .mobile_grid_4 {
  @include row_mixin;
  
  //YMMV ON THIS TWEAK
  // @media screen and (max-width: 400px){
  //   margin-left:$mobile_left_margin * 1.2; /* portrait small devices */
  // }
}

.mobile_grid_1, .mobile_grid_2,
.mobile_grid_3, .mobile_grid_4 {
  margin-left:$mobile_left_margin;
  margin-right:$mobile_right_margin;
}

.mobile_grid_1 {
  width: (25% - $mobile_left_margin - $mobile_right_margin);
}

.mobile_grid_2 {
  width:(50% - $mobile_left_margin - $mobile_right_margin);
}

.mobile_grid_3 {
  width: (75% - $mobile_left_margin - $mobile_right_margin);
}

.mobile_grid_4 {
  width: (100% - $mobile_left_margin - $mobile_right_margin);
}

.mobile_hide {
  display:none;
}

.mobile_prefix_1 {
  margin-left:25% + $mobile_left_margin;
}

.mobile_prefix_2 {
  margin-left:50% + $mobile_left_margin;
}

.mobile_prefix_3 {
  margin-left:75% + $mobile_left_margin;
}

.mobile_suffix_1 {
  margin-right:25% + $mobile_right_margin;
}

.mobile_suffix_2 {
  margin-right:50% + $mobile_right_margin;
}

.mobile_suffix_3 {
  margin-right:75% + $mobile_right_margin;
}

.float_right { float:right; }

.float_left { float:left; }

.static { position:static; }

.last { margin-right:0 }


img, object, embed { max-width: 100%; }

img { height: auto; }


/* some clear fixes and ie things - if you don't know how to use it, then don't worry about it */
html body * {
  span.clear, div.clear, li.clear, dd.clear {
    background: none;
    border: 0;
    clear: both;
    display: block;
    float: none;
    font-size: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0; 
  } 
}

.clearfix:after {
	clear: both;
	content: '.';
	display: block;
	visibility: hidden;
	height: 0;
}

.clearfix {
  clear:both;
	display: inline-block;
}

* html .clearfix {
	height: 1%;
}

/** some ie mobile fixes **/
//No need for this unless using IE in mobile view and it seems jacked up
// .lt-ie9 {
//   .row,
//   .grid_1, .grid_2, .grid_3, 
//   .grid_4, .grid_5, .grid_6, 
//   .grid_7, .grid_8, .grid_9, 
//   .grid_10, .grid_11, .grid_12 {
//    margin-left: ($mobile_left_margin * .95);
//    margin-right: ($mobile_right_margin * .95);
//   }
// }