// Basically grid base, (not the fluid grid) that get the base of the grid system started for all stylesheets

html {
  height: 100%;
  font-size: 100%;
  // overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  //-webkit-text-size-adjust: none;
} /* Force scrollbar in non-IE and Remove iOS text size adjust without disabling user zoom */

body {
  margin: 0; 
  min-height: 100%; 
  width:100%;
  -webkit-font-smoothing:antialiased; 
  font-smoothing:antialiased; 
  text-rendering:optimizeLegibility
} /* Improve default text rendering, handling of kerning pairs and ligatures */

$mobile_left_margin:1.05%; /* This worked best in firefox and safari */
$mobile_right_margin:1%;

.row {
  float:left;
  width: 100% - $mobile_right_margin*2;
  margin-left:$mobile_left_margin;
  margin-right:$mobile_right_margin;
}

.grid_1, .grid_2, .grid_3, 
.grid_4, .grid_5, .grid_6, 
.grid_7, .grid_8, .grid_9, 
.grid_10, .grid_11, .grid_12 {
  @extend .row;
  margin-bottom:5px;
}

.mobile_grid_1 {
  width: 23%;
}

.mobile_grid_2 {
  width:48%;
}

.mobile_grid_3 {
  width: 73%;
}

.mobile_hide {
  display:none;
}

.mobile_prefix_1 {
  margin-left:25% + $mobile_left_margin;
}

.mobile_prefix_2 {
  margin-left:50% + $mobile_left_margin;
}

.mobile_prefix_3 {
  margin-left:75% + $mobile_left_margin;
}

.mobile_suffix_1 {
  margin-right:25% + $mobile_right_margin;
}

.mobile_suffix_2 {
  margin-right:50% + $mobile_right_margin;
}

.mobile_suffix_3 {
  margin-right:75% + $mobile_right_margin;
}

.last { margin-right:0}

img, object, embed { max-width: 100%; }

img { height: auto; }


/* some clear fixes and ie things */
html body * {
  span.clear, div.clear, li.clear, dd.clear {
    background: none;
    border: 0;
    clear: both;
    display: block;
    float: none;
    font-size: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0; 
  } 
}

.clearfix:after {
	clear: both;
	content: '.';
	display: block;
	visibility: hidden;
	height: 0;
}

.clearfix {
  clear:both;
	display: inline-block;
}

* html .clearfix {
	height: 1%;
}