@mixin basic-link($color: $link-color, $visited: $color, $hover: $color, $decoration: "underline") {
  &:link { 
    color: $color;
    @if $decoration == "underline" { text-decoration: underline; }
    @if $decoration == "plain"     { text-decoration: none; }
    @if $decoration == "none"     { text-decoration: none; }
  }
  &:visited {
    color: $visited;
    @if $decoration == "underline" { text-decoration: underline; }
    @if $decoration == "plain"     { text-decoration: none; }
    @if $decoration == "none"     { text-decoration: none; }
  }
  &:hover {
    color: $hover;
    @if $decoration == "underline" { text-decoration: none; }
    @if $decoration == "plain"     { text-decoration: underline; }
    @if $decoration == "none"     { text-decoration: none; }
  }
}

//A little basic button style that can be tweaked 
//Author: Court Simas
@mixin basic-button($button-color:$button-color, $width: 240px){
  $button-color2: lighten($button-color, 18%);
  text-decoration:none;
  text-align:center;
  position:relative;
  display:block;
  cursor:pointer;
  padding:12px 0 8px;
  width:$width;
  margin:0 auto;
  color:#fff;
  font-size:1.2em;
  line-height:1.18;
  font-weight:bold;
  border:none;
  border-bottom: 1px solid rgba(250,250,250,.5);
  background:$button-color;
  @include border-radius(25px);
  @include text-shadow(#222 0 -1px 1px);
  @include single-transition(all, .05s, ease-in-out);
  @include box-shadow(0 5px 0 darken($button-color,2.8%), 0 5px 10px rgba(0, 0, 0, .4));
  @include background-image(linear-gradient($button-color, $button-color2));
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$button-color}', endColorstr='#{$button-color2}',GradientType=0 ); /* IE6-9 */
  &:hover {
    @include background-image(linear-gradient(lighten($button-color, 8%), lighten($button-color2, 8%)));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{lighten($button-color, 8%)}', endColorstr='#{lighten($button-color2, 8%)}',GradientType=0 );
  }
  &:active {
    top:3px;
    @include background-image(linear-gradient(lighten($button-color, 3%), lighten($button-color2, 3%)));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{lighten($button-color, 3%)}', endColorstr='#{lighten($button-color2, 3%)}',GradientType=0 );
    @include box-shadow(0 3px 0 darken($button-color,2.8%), 0 2px 4px rgba(0, 0, 0, .4));
  }
}